pipeline/move data from sql to blob incremental load.json
{
	"name": "move data from sql to blob incremental load",
	"properties": {
		"description": "move data from sql to blob",
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SeT Value on ID Variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT * FROM Address WHERE ModifiedDate>=''',substring(variables('lastloaddate'),0,10),'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_azuresqltable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_BlobFlatFile",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "log the end with success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_pipelinelogend]",
					"storedProcedureParameters": {
						"id": {
							"value": {
								"value": "@variables('id')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"status": {
							"value": {
								"value": "'Success'",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azuresqldb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "log the end with failure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_pipelinelogend]",
					"storedProcedureParameters": {
						"id": {
							"value": {
								"value": "@variables('id')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"status": {
							"value": {
								"value": "'Failed'",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azuresqldb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_pipelinelog]",
						"storedProcedureParameters": {
							"pipeline_Name": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azuresqltable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SeT Value on ID Variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set LastLoadDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "id",
					"value": {
						"value": "@string(activity('Lookup1').output.firstRow.id)\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Last Load Date",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT max(startTIme) as lastloaddate\n  FROM [dbo].[pipelinelog] where status='''Success'''",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azuresqltable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set LastLoadDate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Last Load Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "lastloaddate",
					"value": {
						"value": "@string(activity('Get Last Load Date').output.firstRow.lastloaddate)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"id": {
				"type": "String"
			},
			"lastloaddate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "BLOB_TO_DB"
		},
		"annotations": [],
		"lastPublishTime": "2021-06-14T02:54:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}