pipeline/pipeline load all files at blob container.json
{
	"name": "pipeline load all files at blob container",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata Get list of files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_container_for_csv",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach load all csv files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata Get list of files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata Get list of files').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Set filename varibale",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						},
						{
							"name": "Copy data from blob to sql",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Wait1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "AddressID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "AddressID",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "AddressLine1",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "AddressLine1",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "AddressLine2",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "AddressLine2",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "City",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "City",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "StateProvince",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "StateProvince",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "CountryRegion",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "CountryRegion",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "PostalCode",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "PostalCode",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "rowguid",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "rowguid",
												"type": "Guid",
												"physicalType": "uniqueidentifier"
											}
										},
										{
											"source": {
												"name": "ModifiedDate",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ModifiedDate",
												"type": "DateTime",
												"physicalType": "datetime"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_flatfile_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@variables('filename')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_azuresqltable",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Set filename varibale",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "filename",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"filename": {
				"type": "String"
			}
		},
		"folder": {
			"name": "BLOB_TO_DB"
		},
		"annotations": [],
		"lastPublishTime": "2021-06-03T02:36:28Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}